$quality-list = (144dpi 1.5dppx) (240dpi 2.5dppx)

bg-image($url, $maximum-quality = 3) // $maximum-quality = 2 or 3
    $urlParts = match('^(.*)(\.\w{3,4})$', $url)
    background-image: url($url)

    for $num in range(2, $maximum-quality)
        $quality-prefix = join('', $num x $urlParts[2])

        @media (min-resolution: $quality-list[$num - 2][0]), (min-resolution: $quality-list[$num - 2][1])
            background-image: url(join('@', $urlParts[1] $quality-prefix))
