$black ?= #000000
$white ?= #ffffff
$carmine-pink ?= #eb4f4f
$linen ?= #f8e6d8
$sandy-brown ?= #f18664
$dusty-gray ?= #999999
$mischka = #e7e6e9
$cinderella ?= #fdebdf
$amaranth ?= #e6374c
$mine-shaft ?= #333333
$alto ?= #dedede
$tan-hide ?= #f79854
$gallery ?= #eeeeee
