@import '~common_styles/colors.styl'
@import '~common_styles/screen_size.styl'

$nav-bar-height = 80px
$nav-bar-max-width = $screen-xxl - 2 * 165px

.nav-bar-bg
    background: $white
    box-shadow: 0px 4px 25px rgba($black, 0.15)

.nav-bar-wrapper
    display: flex
    align-items: center
    justify-content: center
    position: relative
    max-width: $nav-bar-max-width
    margin-left: auto
    margin-right: auto

    @media(max-width: $nav-bar-max-width)
        margin-left: 10px
        margin-right: 10px

    &
    *
        box-sizing: border-box
        outline: none

.nav-bar-left-block
.nav-bar-right-block
    position: absolute
    display: flex
    align-items: center

.nav-bar-left-block
    left: 0

.nav-bar-right-block
    right: 0

.nav-bar
    display: flex
    align-items: center

    > .nav-bar-link
        $padding-left = 12px
        margin-top: 33px
        padding-left: $padding-left
        padding-right: $padding-left
        padding-bottom: @margin-top
        &:first-child
            padding-left: 0
            &:before
                width: 'calc(100% - %s)' % ($padding-left)
                left: 0
        &:last-child
            padding-right: 0
            &:before
                width: 'calc(100% - %s)' % ($padding-left)
        &:before
            bottom: @margin-top - 1px
            width: 'calc(100% - 2*%s)' % ($padding-left)
            left: $padding-left

hide-sub-nav-bar-content($initial-transform)
    transform: $initial-transform rotateX(90deg)
    transform-origin: 0 0 0
    > *
        transform: translateY(-10px)
        opacity: 0

show-sub-nav-bar-content($initial-transform = null)
    transform: $initial-transform rotateX(0)
    transform-origin: 0 0 0
    > *
        $transition-duration = 0.3s
        $transition-delay = 0.1s
        transition: transform $transition-duration $transition-delay,
            opacity $transition-duration $transition-delay
        transform: translateY(0)
        opacity: 1

.sub-nav-bar
    position: absolute
    top: 100%
    left: 50%
    width: 100vw
    background: $white
    display: flex
    flex-direction: column
    align-items: center
    transition: transform 0.2s
    hide-sub-nav-bar-content(translateX(-50%))

    &:hover
        show-sub-nav-bar-content(translateX(-50%))

    .sub-nav-bar-row-wrapper
        display: flex
        justify-content: space-between
        margin: 30px 0

    .sub-nav-bar-row
        display: flex

    .sub-nav-bar-col
        display: flex
        flex-direction: column
        min-width: 100px
        :last-child .sub-nav-bar-link
            margin: 0

.nav-bar-link
    display: flex
    transition: color 0.3s
    &.sub-nav-bar-link
        display: inline-block
        margin: 0 0 15px
        font-size: 10px
        p&
            pointer-events: none
    &.active:before
        opacity: 1
    &.not-active
        color: $dusty-gray
    &:hover + .sub-nav-bar
        show-sub-nav-bar-content(translateX(-50%))

.recently-viewed
.custom-row
    > p
        font-family: 'Univers LT Pro', sans-serif
        font-weight: 700
        font-size: 12px
        margin-top: 0

    margin-bottom: 30px

    .recently-viewed-link-list
        display: flex

.shopping-bag-icon
    margin-left: 15px
    position: relative
    &.with-notification-dot:after
        content: ''
        position: absolute
        background: $carmine-pink
        width: 3px
        height: @width
        border-radius: 100%
        left: calc(100% + 1px)
        top: 1px

.search-simple-block
    display: flex
    align-items: center
    position: relative

    .search-icon
        cursor: pointer
        .spinner
            display: none

    .search-icon
    .search-field
    .search-result
        position: absolute
        right: 0
        transition-property: width, right
        transition-duration: 0.3s

    .search-result
        border-radius: 0 0 20px 20px
        width: 0
        padding: 0
        color: $white
        top: 26px
        width: 0
        padding: 12px 20px
        border: 1px solid $alto
        visibility: hidden
        pointer-events: none
        overflow: hidden

    .search-field
        background: $white
        border: none
        border-radius: 20px
        width: 0
        padding: 0
        color: $white
        font-family: 'Univers LT Pro', sans-serif
        font-weight: 400
        font-size: 14px

        &:focus
            padding: 19px 35px 17px 18px
            width: 200px
            border: 1px solid $alto
            position: absolute
            right: -36px
            z-index: 1
            color: $black

            & ~ .search-icon
                position: absolute
                pointer-events: none
                right: @right + 15px
                z-index: 1
                *
                    stroke: $black

            & ~ .search-result
                right: @right
                z-index: 1
                bottom: 0
                display: flex
                width: 200px
                visibility: visible
                pointer-events: all

    &.search-in-progress
        .search-icon
            .icon
                display: none
            .spinner
                display: block

    &.search-with-results
        .search-field
            border-radius: 20px 20px 0 0

.search-result
    background: $white
    height: max-content
    flex-direction: column

    .search-link-wrapper
        display: flex
        align-items: center
        &:not(&:last-child)
            margin-bottom: 18px

        .search-link
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap

        .icon
            margin-right: 6px
            margin-top: -1px
            min-width: 16px
            min-height: @min-width
            *
                stroke: $black
                stroke-width: 2px

.full-search-icon
    cursor: pointer
    position: relative
    &:before
        content: ''
        width: 100%
        height: 2px
        position: absolute
        bottom: -@height - 1px
        left: 0
        background: $black
        transition: opacity 0.3s
        opacity: 0
    &.show-full-search-block
        &:before
            opacity: 1

        .icon *
            stroke: $black

.full-search-block
    padding: 0
    height: 'calc(100vh - %s)' % ($nav-bar-height)
    &.show-full-search-block
        padding: 35px 0 40px
        show-sub-nav-bar-content(translateX(-50%))
    &:not(&.show-full-search-block):hover
        hide-sub-nav-bar-content(translateX(-50%))
        > *
            transition: opacity 0s 0s

    .search-field-block
        display: flex
        align-items: center
        justify-content: space-between

        .search-field-wrapper
            flex-grow: 1
            margin-right: 13px
            position: relative

            .search-field
                border-radius: 20px
                font-family: 'Univers LT Pro', sans-serif
                font-weight: 400
                font-size: 14px
                border: 2px solid $alto
                border-radius: 20px
                padding: 8px 53px 8px 18px
                width: 100%

            .icon
                position: absolute
                top: 50%
                right: 25px
                transform: translateY(-50%)
                &.not-active *
                    stroke: $alto

        .close-icon
            cursor: pointer

    .search-result
        margin-top: 30px
        padding: 0 20px

    .search-result-with-detail
        margin-top: 30px
        padding: 30px 20px 0
        border-top: 2px solid $gallery
