@import '~common_styles/colors.styl'

$animation-name = 'fadeInUp'

.nav-bar-wrapper
    display: flex
    align-items: center
    justify-content: center
    // justify-content: space-between
    height: 80px
    background: $white
    position: relative

.nav-bar
    display: flex
    align-items: center

    > .nav-bar-link:first-child
        margin-left: 0

.sub-nav-bar
    position: absolute
    // top: 100%
    top: 110%
    left: 0
    width: 100%
    background: $white
    display: flex
    flex-direction: column
    align-items: center
    // display: none

    &:hover
        display: flex

    .sub-nav-bar-row-wrapper
        display: flex
        justify-content: space-between
        margin: 30px 0

    .sub-nav-bar-row
        display: flex

    .sub-nav-bar-col
        display: flex
        flex-direction: column
        min-width: 100px
        :last-child .sub-nav-bar-link
            margin: 0

.nav-bar-link
    margin: 0 0 0 25px
    display: block
    &.sub-nav-bar-link
        display: inline-block
        margin: 0 0 15px
        font-size: 10px
        p&
            pointer-events: none
    &:hover + .sub-nav-bar
        display: flex

.recently-viewed
    > p
        font-family: 'Univers LT Pro', sans-serif
        font-weight: 700
        font-size: 12px
        margin-top: 0

    margin-bottom: 30px

    .recently-viewed-link-list
        display: flex
