@import './colors.styl'
@import './screen_size.styl'
@import './z_index.styl'

$nav-bar-height = 80px
$nav-bar-max-width = $screen-xxl - 2 * 165px
$distance-between-link-and-sub-menu = 33px

.nav-bar-bg
    @import '../node_modules/normalize-styl/normalize.styl'
    background: $white
    box-shadow: 0px 4px 25px rgba($black, 0.15)
    position: relative

.desktop-nav-bar-wrapper
.mobile-nav-bar-wrapper
    height: $nav-bar-height
    display: flex
    align-items: center
    justify-content: space-between
    max-width: $nav-bar-max-width
    margin-left: auto
    margin-right: auto

    @media(max-width: $nav-bar-max-width)
        margin-left: 10px
        margin-right: 10px

    &
    *
        box-sizing: border-box
        outline: none

.desktop-nav-bar-wrapper
    @media(max-width: $screen-lg - 1px)
        display: none

.mobile-nav-bar-wrapper
    @media(min-width: $screen-lg - 1px)
        display: none

.nav-bar-left-block
.nav-bar-right-block
    display: flex
    align-items: center
    width: 0
    z-index: $second-layer

    > *
        position: absolute

.nav-bar-left-block
    justify-content: flex-start

.nav-bar-right-block
    justify-content: flex-end

.nav-bar
    $padding-left = 12px

    display: flex
    align-items: flex-start
    margin-top: $distance-between-link-and-sub-menu

    > .nav-bar-link
        padding-left: $padding-left
        padding-right: $padding-left
        padding-bottom: @margin-top
        &.active
            padding-left: 2 * $padding-left
            padding-right: 2 * $padding-left
            margin-left: -1 * $padding-left
            margin-right: -1 * $padding-left
            z-index: $first-layer
            &:after
                right: 'calc(%s - 5px)' % (2 * $padding-left)
            &:before
                width: 'calc(100% - %s)' % (4 * $padding-left)
                left: 2 * $padding-left

        &:first-child
            padding-left: 0
            &.active
                margin-left: 0
                &:before
                    width: 'calc(100% - %s)' % (2 * $padding-left)
            &:before
                width: 'calc(100% - %s)' % ($padding-left)
                left: 0
        &:before
            bottom: @margin-top - 1px
            width: 'calc(100% - 2*%s)' % ($padding-left)
            left: $padding-left
        &:after
            right: 'calc(%s - 5px)' % ($padding-left)
    :nth-last-child(4)
        padding-right: 0
        &.active
            padding-left: 2 * $padding-left
            padding-right: 0
            margin-left: -1 * $padding-left
            margin-right: 0
            &:before
                width: 'calc(100% - %s)' % (2 * $padding-left)
                left: 2 * $padding-left
        &:before
            width: 'calc(100% - %s)' % ($padding-left)

hide-sub-nav-bar-content($initial-transform)
    transform: $initial-transform rotateX(90deg)
    transform-origin: 0 0 0
    pointer-events: none
    > *
        transform: translateY(-10px)
        opacity: 0

show-sub-nav-bar-content($initial-transform = null)
    transform: $initial-transform rotateX(0)
    transform-origin: 0 0 0
    pointer-events: all
    > *
        $transition-duration = 0.3s
        $transition-delay = 0.1s
        transition: transform $transition-duration $transition-delay,
            opacity $transition-duration $transition-delay
        transform: translateY(0)
        opacity: 1

$sub-nav-bar-transition-duration = 0.2s

.sub-nav-bar
.sub-nav-bar-bg
    position: absolute
    top: 100%
    top: $nav-bar-height - $distance-between-link-and-sub-menu + 2px
    left: 50%
    width: 100%
    background: $white

.sub-nav-bar-bg
    transform: translateX(-50%)
    height: 0
    transition: height $sub-nav-bar-transition-duration

.sub-nav-bar
    display: flex
    flex-direction: column
    align-items: center
    transition: transform $sub-nav-bar-transition-duration
    padding-top: $distance-between-link-and-sub-menu
    hide-sub-nav-bar-content(translateX(-50%))
    &:hover
        show-sub-nav-bar-content(translateX(-50%))

    .sub-nav-bar-row-wrapper
        display: flex
        justify-content: space-between
        margin-bottom: 30px

    .sub-nav-bar-row
        display: flex

    .sub-nav-bar-col
        display: flex
        flex-direction: column
        min-width: 100px
        :last-child .sub-nav-bar-link
            margin: 0

.nav-bar-link
    display: flex
    transition: color 0.3s
    &.sub-nav-bar-link
        display: inline-block
        margin: 0 0 5px
        font-size: 10px
        p&
            pointer-events: none
    &.active:before
        opacity: 1
    &.not-active
        color: $dusty-gray
    &:hover + .sub-nav-bar
        show-sub-nav-bar-content(translateX(-50%))

.custom-row
    > p
        font-family: 'Univers LT Pro', sans-serif
        font-weight: 700
        font-size: 12px
        margin-top: 0

    margin-bottom: 30px

@media(min-width: $screen-lg - 1px)
    .shopping-bag-icon
    .search-simple-block .search-icon
    .full-search-icon
        width: 16px
        height: @width

.shopping-bag-icon
    margin-left: 15px
    margin-right: 5px
    position: relative
    &.with-notification-dot:after
        content: ''
        position: absolute
        background: $carmine-pink
        width: 3px
        height: @width
        border-radius: 100%
        right: -5px
        top: 1px

.search-simple-block
    display: flex
    align-items: center
    position: relative

    .search-icon
        cursor: pointer
        .spinner
            display: none

    .search-icon
    .search-field
    .search-result
        position: absolute
        right: 0
        transition-property: width, right
        transition-duration: 0.3s

    .search-result
        border-radius: 0 0 20px 20px
        width: 0
        padding: 0
        color: $white
        top: 26px
        width: 0
        padding: 12px 20px
        border: 1px solid $alto
        visibility: hidden
        pointer-events: none
        overflow: hidden

    .search-field
        background: $white
        border: none
        border-radius: 20px
        width: 0
        padding: 0
        color: $white
        font-family: 'Univers LT Pro', sans-serif
        font-weight: 400
        font-size: 14px

    &.search-with-results:hover .search-field
    .search-field:focus
        padding: 19px 35px 17px 18px
        width: 200px
        border: 1px solid $alto
        position: absolute
        right: -36px
        z-index: $first-layer
        color: $black

        & ~ .search-icon
            position: absolute
            pointer-events: none
            right: @right + 15px
            z-index: $first-layer
            *
                stroke: $black

        & ~ .search-result
            right: @right
            z-index: $first-layer
            bottom: 0
            display: flex
            width: 200px
            visibility: visible
            pointer-events: all

    &.search-in-progress
        .search-icon
            .icon
                display: none
            .spinner
                display: block

    &.search-with-results
        .search-field
            border-radius: 20px 20px 0 0

.search-result
    background: $white
    height: max-content
    flex-direction: column

    .search-link-wrapper
        display: flex
        align-items: center
        &:not(&:last-child)
            margin-bottom: 18px

        .search-link
            text-overflow: ellipsis
            overflow: hidden
            white-space: nowrap

        .icon
            margin-right: 6px
            margin-top: -1px
            min-width: 16px
            min-height: @min-width
            *
                stroke: $black
                stroke-width: 2px

.full-search-icon
    cursor: pointer
    position: relative
    &:before
        content: ''
        width: 100%
        height: 2px
        position: absolute
        bottom: -@height - 1px
        left: 0
        background: $black
        transition: opacity 0.3s
        opacity: 0
    &.show-full-search-block
        &:before
            opacity: 1

        .icon *
            stroke: $black

.full-search-block
    padding: 0
    height: 'calc(100vh - %s)' % ($nav-bar-height - $distance-between-link-and-sub-menu + 2px)
    &.show-full-search-block
        padding: 35px 0 40px
        show-sub-nav-bar-content(translateX(-50%))
    &:not(&.show-full-search-block):hover
        hide-sub-nav-bar-content(translateX(-50%))
        > *
            transition: opacity 0s 0s

    .search-field-block
        display: flex
        align-items: center
        justify-content: space-between

        .search-field-wrapper
            flex-grow: 1
            margin-right: 13px
            position: relative

            .search-field
                border-radius: 20px
                font-family: 'Univers LT Pro', sans-serif
                font-weight: 400
                font-size: 14px
                border: 2px solid $alto
                border-radius: 20px
                padding: 8px 53px 8px 18px
                width: 100%

            .icon
                position: absolute
                top: 50%
                right: 25px
                transform: translateY(-50%)
                &.not-active *
                    stroke: $alto

        .close-icon
            cursor: pointer

    .search-result
        margin-top: 30px
        padding: 0 20px

    .search-result-with-detail
        margin-top: 30px
        padding: 30px 20px 0
        border-top: 2px solid $gallery

// mobile

$mobile-menu-transition-duration = 0.1s

:export
    mobileMenuTransitionDuration $mobile-menu-transition-duration

@media(max-width: $screen-lg - 1px)
    .mobile-nav-bar-wrapper
        padding: 0 30px
        margin: 0

    .shopping-bag-icon
        padding: 0
        display: flex
        align-items: center
        svg
            width: 36px
            height: @width
            *
                stroke: $black

    .mobile-menu-icon
        line
            transition: transform 0.4s cubic-bezier(1, 0, 0, 1), opacity 0.4s cubic-bezier(1, 0, 0, 1)
            &:first-child
                transform-origin: 1px 2px 0
            &:last-child
                transform-origin: 0px 19px 0
        &.convert-to-close line
            &:first-child
                transform: rotate(45deg)
                transform-origin: 1px 2px 0
            &:nth-child(2)
                opacity: 0
            &:last-child
                transform: rotate(-45deg)
                transform-origin: 0px 19px 0

    .mobile-nav-bar-block
        opacity: 1
        transition: opacity $mobile-menu-transition-duration

        &.hide-mobile-nav-bar-block
            opacity: 0

    .mobile-links-list
    .mobile-sub-nav-bar
        .nav-bar-link
            font-size: 24px
            margin-top: 15px
            margin-bottom: 0
            line-height: normal
            display: inline-block
            &:not(a):before
                display: none
            &:after
                width: 6px
                height: @width
                right: -10px
                top: -2px

            .nav-bar-link-arrow
                position: relative
                top: 1px
                margin-left: 10px

    $padding-bottom = 50px
    $padding-side = 30px

    .mobile-nav-bar-wrapper:after
    .mobile-links-list
    .mobile-sub-nav-bar
        padding: 0 $padding-side
        position: fixed
        top: $nav-bar-height
        bottom: 'calc(100% - %s)' % ($nav-bar-height)
        background: $white
        overflow: hidden
        z-index: $second-layer
        transition: bottom $mobile-menu-transition-duration linear,
            left ($mobile-menu-transition-duration / 2) linear,
            right ($mobile-menu-transition-duration / 2) linear,
            padding-bottom $mobile-menu-transition-duration linear

    .mobile-links-list
        left: 0
        right: 0
        background: $white
        overflow: hidden
        opacity: 1
        visibility: visible
        transition: bottom $mobile-menu-transition-duration linear,
            left $mobile-menu-transition-duration linear,
            right $mobile-menu-transition-duration linear,
            opacity ($mobile-menu-transition-duration / 3) linear,
            padding-bottom $mobile-menu-transition-duration linear

        > *
            transition: opacity $mobile-menu-transition-duration 0.2s linear
            opacity: 0

        &.active-mobile-links-list
            bottom: 0
            padding-bottom: $padding-bottom
            overflow: auto

            > *
                opacity: 1

        &.mobile-links-list-move-left
            left: -100px
            right: 100px
            opacity: 0
            visibility: hidden
            transition: bottom $mobile-menu-transition-duration linear,
                left $mobile-menu-transition-duration linear,
                right $mobile-menu-transition-duration linear,
                visibility 0s linear ($mobile-menu-transition-duration / 3),
                opacity ($mobile-menu-transition-duration / 3) linear,
                padding-bottom $mobile-menu-transition-duration linear

        &.active-mobile-links-list
            ~ .mobile-sub-nav-bar
                bottom: 0
                padding-bottom: $padding-bottom

                > *
                    opacity: 1

        &:not(.active-mobile-links-list)
            ~ .mobile-sub-nav-bar > *
                transition: opacity $mobile-menu-transition-duration
                opacity: 0

    .mobile-sub-nav-bar
        left: 100px
        right: -100px
        z-index: $third-layer
        opacity: 0
        visibility: hidden
        transition: bottom $mobile-menu-transition-duration linear,
            left $mobile-menu-transition-duration linear,
            right $mobile-menu-transition-duration linear,
            visibility 0s linear ($mobile-menu-transition-duration / 3),
            opacity ($mobile-menu-transition-duration / 3) linear,
            padding-bottom $mobile-menu-transition-duration linear

        > *
            transition: opacity $mobile-menu-transition-duration 0.2s
            opacity: 0

        &.active-mobile-sub-nav-bar
            left: 0
            right: 0
            overflow: auto
            opacity: 1
            visibility: visible
            transition: bottom $mobile-menu-transition-duration linear,
                left $mobile-menu-transition-duration linear,
                right $mobile-menu-transition-duration linear,
                opacity ($mobile-menu-transition-duration / 3) linear,
                padding-bottom $mobile-menu-transition-duration linear

            > *
                opacity: 1

        .sub-nav-bar-link-header
            font-size: 36px
            display: block
            line-height: normal
            margin: 15px 0 5px
            pointer-events: none

        .sub-nav-bar-col-separator
            width: 60px
            height: 4px
            background: $silver
            margin: 15px 0

    .mobile-banner
        margin-top: 20px

    .recently-viewed
        padding: 0 1px 0 $padding-side
        margin: 0 -1*$padding-side

        > div :last-child
            min-width: 11px

    .mobile-search-wrapper
        &.active-mobile-search
            ~ *
                opacity: 0
                transition: opacity $mobile-menu-transition-duration
                pointer-events: none

            .mobile-search-result
                opacity: 1
                transition: opacity $mobile-menu-transition-duration $mobile-menu-transition-duration
                pointer-events: all

        .mobile-search-field-wrapper
            display: flex

            $search-button-width = 32px

            .search-button
                width: $search-button-width
                height: @width
                border: none
                background: none
                padding: 0
                margin-left: -2px

                .search-icon
                    width: @width
                    height: @height
                    *
                        stroke: $black

            .mobile-search-field
                font-family: 'Univers LT Pro', sans-serif
                color: $black
                font-size: 24px
                border: none
                padding: 0
                margin-bottom: -11px
                margin-left: 20px
                opacity: 0
                transition: opacity $mobile-menu-transition-duration
                pointer-events: none
                flex-grow: 1
                max-width: 'calc(100vh - %s - %s)' % (@margin-left $search-button-width)

                &.show-mobile-search-field
                    opacity: 1
                    pointer-events: all

        .mobile-search-result
            margin: 30px -1 * $padding-side 0
            padding: 30px 0 0 75px
            border-top: 1px solid $silver
            transition: opacity $mobile-menu-transition-duration
            opacity: 0
            position: absolute
            width: 100%
            pointer-events: none

            a
            p
                font-size: 24px
                line-height: normal
                margin: 0

            svg
                display: none

    .mobile-nav-bar-wrapper
        &:after
            content: ''
            left: 0
            right: 0
            z-index: $first-layer
        &.active-mobile-links-list:after
            bottom: 0
