@import '~common_styles/colors.styl'
@import '~common_styles/bg_image.styl'

.banner
    background-color: $linen
    bg-image('~pages/defaul/images/socks.png')
    background-repeat: no-repeat
    background-size: 130px 40px
    background-position: 0 0
    width: 130px
    height: 80px
    border-radius: 2px
    font-family: 'Univers LT Pro', sans-serif
    text-align: center

    .discount
        font-weight: 700
        color: $black
        margin: 0
        padding-top: 50px
        font-size: 12px // TODO: need use 16px

    .promo-code
        font-weight: 400
        color: $sandy-brown
        margin: 0
        font-size: 9px
